@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Главная</title>
</head>
<body>
    <h1>@User.Identity.Name Добро пожаловать на свою страницу!</h1>
    <a href="/Home/Chat">Чат</a>
</body>
</html>